.*
!.github
!.gitignore
!.pre-commit-config.yaml

*.py[co]

# Vim
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.pdm-python
